<div class="mt-4">
    <h3>Bài viết của tôi</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Create Time</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td><a href="/courses/{{this._id}}/edit" class="btn btn-link">Update</a></td>
                <td><a href="/courses/{{this._id}}" class="btn btn-danger">Delete</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>